@model  IEnumerable<MvcAppTest2.Models.Comment>


@*<div id="comments">
    <ul>
        @foreach(var comment in Model)
        {
            <li>@comment.Content</li>
        }
    </ul>
    @using(Html.BeginForm("_Submit", "Comments", FormMethod.Post)){
    @using (Ajax.BeginForm("_Submit", "Comments", new AjaxOptions() { UpdateTargetId = "comments" }))
    {
        @Html.AntiForgeryToken()
        @Html.Action("_CommentForm", new {SessionID = ViewBag.SessionID} )
    }
</div>*@
<script src="~/scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>

<script>
    $(function () {
        var commentHub = $.connection.chatHub;
        var sessionID = @ViewBag.SessionID;

        commentHub.client.addNewComment = function (content) {
            $("#comments-list").append("<li>" + content + "</li>");
        };

        $.connection.hub.start().done(function () {
            commentHub.server.register(sessionID);
            $("#mysubmit").click(function () {
                commentHub.server.addComment(sessionID, $("#content").val());
            });
        });
    });
</script>

<ul id="comments-list">
    @foreach (var comment in Model)
    {
        <li>@comment.Content</li>
    }
</ul>

<div>
    <label for="content">Content:</label>
    <input type="text" id="content" value="" />
    <button type="button" id="mysubmit">Submit comment</button>
</div>